<div align="center">
  <h1>MY TO DO LIST</h1>
  <input type="text" placeholder="Add something to do..."
         [(ngModel)]="itemValue"
         (keydown.enter)="addItem()">
  <button class="btnEdit" (click)="addItem()">Save</button>
  <div>
    <hr width="60%">
    <table width="60%">
      <tr *ngFor="let item of listTodo.getListItem()">
        <td>
          <input type="checkbox" (click)="completeItem(item.id)" [checked]="item.complete">
        </td>
        <td width="100%">
<!--            <span style="text-align: left" *ngIf="!item.isEdit" (click)="editModel(item.id)">{{item.name}}</span>-->
<!--              <span *ngIf="item.isEdit">-->
<!--                <input style="width: 80%" autofocus  [(ngModel)]="editValue.name" (keydown.enter)="editItem(item.id)">-->
<!--              <button class="btnEdit"  (click)="editItem(item.id )">Edit</button>-->
<!--              </span>-->
        </td>
        <td>
            <button class="btnDelete" (click)="deleteItem(item.id)">Remove</button>
        </td>
      </tr>
    </table>
  </div>

</div>
